popover { 
    .txtMenu { 
        position: relative; 
        background-color: rgb(255, 255, 255); 
        border: none; 
        font-size: 18px; 
        color: rgb(0, 0, 0); 
        padding: 20px; 
        width: 100%; 
        text-align: center; 
        -webkit-transition-duration: 0.4s; /* Safari */ 
        transition-duration: 0.4s; 
        text-decoration: none; 
        overflow: hidden; 
        cursor: pointer; 
    }:after { 
        content: ""; 
        background: rgba(0, 0, 0, 0.5); 
        display: block; 
        position: absolute; 
        padding-top: 300%; 
        padding-left: 350%; 
        margin-left: -20px!important; 
        margin-top: -120%; 
        opacity: 0; 
        transition: all 0.8s 
    }:active:after { 
        padding: 0; 
        margin: 0; 
        opacity: 1; 
        transition: 0s 
    } 
 
 
    .logout{ 
        background-color: red; 
        color: oldlace; 
    } 
} 